/* Set a background image by replacing the URL below */
body {
 background: url('https://www.google.com/url?sa=t&source=web&rct=j&url=https%3A%2F%2Fpixabay.com%2Fes%2Fillustrations%2Ffondo-de-pantalla-antecedentes-8257343%2F&ved=0CBYQjRxqFwoTCPDGl9TQm5MDFQAAAAAdAAAAABAH&opi=89978449') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}